@import "header.css";
@import "nav.css";
@import "top.css";
@import "footer.css";

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: normal;
    outline: none;
}

/* close commented backslash hack */

input,
select {
    outline: none;
}

a {
    text-decoration: none;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.mt--10 {
    margin-top: 10px;
}

.pl-0 {
    padding-left: 0 !important;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}


.button {
    cursor: pointer;
    color: #fff;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 900;
    letter-spacing: 0.85px;
    display: block;
}

.small-divider {
    width: 24px;
    height: 2px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.small-divider--gray {
    background-color: #878787;
}

.small-divider--white {
    background-color: white;
}

.title {
    font-size: 10.5px;
    letter-spacing: 1.16px;
    text-transform: uppercase;
}

.title--white {
    color: white;
}

.title--gray {
    color: #878787;
}

.icon-plan {
    background-image: url(../images/icons/plan.svg);
}

.icon-user {
    background-image: url(../images/icons/user.svg);
}

.bg-reviews {
    width: 21px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 3px;
    display: inline-block;
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    /*  */
}

@media screen and (max-width: 1023px) {
    /*  */
}